body
{
    margin-left: 0%;
    padding-left: 0%;
    cursor: url('cursor.png') !important;
    font-size: 16px !important;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.B 
{

    position: relative;
    left: none;
}
.containerm
{
height: 100vh;
    background-color:rgba(223,234,231,255);
   
}
#t1,#t2 
{
    font-size: 28px;
}
.tagsm 
{
    font-family: 'Amatic SC', cursive; 
    /* font-family: 'Edu QLD Beginner', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Nanum Brush Script', cursive; */
    /* font-family: 'Water Brush', cursive; */
    /* font-family: 'Beau Rivage', cursive; */
    /* font-family: 'Loved by the King', cursive; */
    font-size: 35px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(12, 63, 80);
    }
  }












.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.buttonClass:hover {
  background: linear-gradient(#0061a7, #007dc1);
}
              
                

.mountain
{
    position:relative;
    top:300px;
    left: none;
    
}

body
{
   background-color: white;
   margin: 0;

}

.cloud
{
    position: absolute;
    left: 200px;
    top: 300px;
}
.cloud1
{
    position: absolute;
    left:950px;
    top:110px;
}



.header
{
    position: absolute;
   left: 450px;
   
    top:150px;
    color: rgba(74,177,154,255);
    font-size: 90px;
    font-family: 'Sacramento', cursive;
     font-weight: 500;
    letter-spacing: 4px;
    
    
}



.sentance
{

    position: absolute;
    left:550px;
    top:260px;
    font-size: 20px;
    color: rgba(111,193,176,255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
}

.Mnm 
{
    height: 350px;
}
.skills 
{
    font-size: 30px;
    font-weight:600;
}

.skm 
{
    font-size: 30px;
    font-weight:600;
    color: rgba(74,177,154,255);
}
.data
{
    height: 150px;
   left: 430px;
    font-size: 18px;
    text-align: center;
    /*color: rgb(3, 46, 85);*/
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr
{

       border: 4px rgba(167, 182, 182, 0.637);
       border-style: dotted;
       border-left: none;
       border-bottom: none;
       width: 40px;


}

.skills
{

    text-align: center;
    color: rgba(74,177,154,255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.skill1
{

    position: absolute;
}
.skill1
{

    position: absolute;
    left: 500px;
    font-size: 18px;
    
    
}
.skill2
{

    position: absolute;
    left: 960px;
    font-size: 18px;
}
.skill3
{

    position: absolute;
    left: 500px;
    font-size: 18px;
}

.skill1,.skill2,.skill3
{
    color: rgba(5, 63, 65, 0.733);
    font-family:Arial, Helvetica, sans-serif;
    line-height:2px;
}

.message
{

    height: 100px;
    width: 400px;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgb(233, 228, 241);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn
{
    
    padding:15px;
    color: rgb(44, 4, 71);
    border: none;
    cursor: pointer;
    background-color: rgba(1, 214, 230, 0.37);
    
}
.btn:hover
{
    background-color: aquamarine;
}
.afs
{
    color: white;
    font-size: 25px;
}



    
    
    
    
    
.footer
{
height:120px;
   
     background-color:rgb(0, 0, 0);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     
}
.mns{
    top: 50px;
    text-decoration: none;
    color:rgb(22, 16, 112);
    margin-left: 25px;
    margin-right: 25px;
    
}

.mns:hover 
{
    
    cursor: pointer;
}


#identity
{
    color: rgb(249, 255, 255);
}

.photo
{

    height: 380px;
    width: 280px;
    position:absolute;
    left: 530px;
    background-color: aquamarine;
}
.Design 
{
    position: absolute;
    left:450px;
}

.painting
{
    position: absolute;
    left: 450px;
}

.singing
{
    position: absolute;
    left:900px;
}

.para
{
    height:50px;
    width: 400px;
   line-height: 1.5;
    font-size: 16px;
   
    color: rgba(7, 83, 60, 0.685);
    color: rgb(3, 27, 19);
    position: relative;
    left:680px;
    top: 60px;
    font-family: 'Open Sans', sans-serif;
    
    

}

.para1
{
    height:20px;
    width: 400px;
    line-height: 1.5;
    font-size: 16px;
   
    color: rgba(7, 83, 60, 0.685);
    font-family: 'Open Sans', sans-serif;
    
    color: rgb(3, 27, 19);
    position: relative;
    left:450px;
    top: 150px;
   /* font-family: 'Open Sans', sans-serif;*/
   
    font-size: 16.5px;

}

.para2
{

    height:60px;
    width: 400px;
    line-height: 1.5;
    color: rgb(3, 27, 19);
    font-size: 16px;
   
   
    
    
    position: relative;
    font-family: 'Open Sans', sans-serif;
    left:680px;
    top: 60px;
   
    

}

.a 
{
    display: inline-block;

    
    
}
.n1:hover
{
    color: rgb(21, 34, 32);
    
    
    
}
.b
{
    display: inline-block;
}
.c
{
    display: inline-block;
}


.n1
{
    text-decoration: none;
    padding: 2px 14px 2px 2px; 
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(19, 180, 159);
    
    font-size: 16px;
}




.navbarm
{
    padding-top: 0px;
    
    height: 2px;
    background-color:rgba(223,234,231,255);
    /* position: absolute;
    left: 400px; */
    display: flex;
    justify-content: end;
   
    

}

.kl 
{
    background-color:rgba(223,234,231,255) ;
    margin-top: 0;
    padding-top: 20px;
    
}


.ams
{
    font-size: 22px;
}

.Mnm 
{
    height: 290px;
}
.developer 
{
    height: 300px;
    position: absolute;
    left: 450px;
    
}

.program 
{
    height: 300px;
    position: absolute;
    left: 420px;
}


.data2 
{
  
    height: 40px;
    width: 400px;
    /* background-color: #0061a7; */
   
    color: black;
 
    font-size: 18px;
    
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.html5,.css,.Js,.reactjs,.bootstrap,.h-140
{
    height: 140px;
}
 .B
{
  
    height: 200px;
    width: 200px;
}
.C
{
   
    height: 200px;
    width: 200px;
}
.D
{
    height: 200px;
    width: 200px;
}
.E,.F
{
    
    height: 200px;
    width: 200px;
}

.prm 
{
    height: 250px;
}
.row
{
    display: flex;
}


.thskills
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    position: absolute;
    left: 38%;
    justify-content: center;


}

@media (max-width:100px)
{
   .containerm 
   {
    background-color: aliceblue;
   }
}


@media (max-width:580px) {

    .header 
    {

        
        position: relative;
        top: 200px;
        left: 100px;
        
        width: 500px;
    }

    .cloud1
    {
        position: absolute;
        left: 0px;
        
    }

    .containerm 
    
    {
        height: 950px;
        width:630px;

    }

    .mountain 
    {
        position: relative;
        left: none;
    }
    .footer 
    {
        width:630px;
        background-color: solid black;
    }

    .message 
    {
        
        position: absolute;
        left: 45px;
        font-size: 28px;
        
        width: 550px;
        height: 180px;
        

        

    }

    .container 
    {
       
        position: relative;
        left: 115px;
    }

    .skm
    {
        font-size: 35px;
        position: relative;
        left: 165px;
    }
    .prm,.skills,.data2,.Mnm
    {
        position: relative;
        left: 165px;
    }

    .Mnm 
    {
        position: relative;
        left: 100px;
    }
    .skills 
    {
        position: relative;
        left: 130px;
    }
    .prm 
    {
        position: relative;
        left: 90px;
    }
    .data2
    {
        font-size: 28px;
   
        width: 560px;
        height: 150px;
        position: relative;
        left: 40px;
    }
    .skills 
    {
        font-size: 35px;
    }
    .data 
    {
       
        height: 100px;
        width:600px ;
        font-size: 28px;
      
       
      
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        left: 25px;


    }

    .nmc 
    {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 35px;
    }
    .cloud 
    {
        position: absolute;
        left: 400px;;
        top: 80px;
    }
    .sentance 
    {
        position: absolute;
        left: 300px;
        top: 300px;
      
        width: 150px;
    }
    .mountain 
    {
        position: relative;
        top: 320px;

    }

   .s1 
   {
 
    height: 20px;
    position: absolute;
    left: 385px;
   }
   
   .s2 
   {
  
    height: 20px;
    width: 90px;
    position: absolute;
    left: 445px;
   }
   .s3
   {
   
    height: 30px;
    width: 100px;
    position: absolute;
    left: 530px;
   }


   .cloud1 
   {
    position: absolute;
    top: 390px;
   }

   .k1 
   {
    position: relative;
    left: 10px;
   }
.skm 
{
    position: relative;
    left: 135px;
}

.Mnm 

{
    position: relative;
    left: 90px;
}
   
}
.h-170{
    height: 170px;
}
.g-10{
    gap:10px;
}
.g-5{
    gap:5px;
}
